---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | strip_html }}</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@latest/new.min.css"
    />
    {%- if page.url == "/" %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Hakan Ensari",
        "additionalName": "Şenol",
        "url": "https://hakanensari.com",
        "sameAs": [
          "https://github.com/hakanensari",
          "https://www.instagram.com/hakanensari",
          "https://www.linkedin.com/in/hakanensari",
          "https://x.com/hakanensari"
        ]
      }
    </script>
    {%- endif %}
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
      <nav>
        <a href="/">Home</a> / <a href="/now">Now</a> /
        <a href="https://github.com/hakanensari/hakanensari">Source</a>
      </nav>
    </header>
    {{ content }}
  </body>
</html>
